html,
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow: hidden;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
}

.step {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* trigger.faceExpression */
.video-container {
  overflow: hidden;
}

.video-container canvas,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cam-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.cam-container .input-video,
.cam-container .overlay {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.countdown-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
  font-weight: 500;
  height: 100px;
  z-index: 2;
}

.bg-scan-video {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

.chroma-canvas {
  z-index: 0;
}

/* media.video */
.step-media-video .media-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* trigger.button */
.step-trigger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.gimmick-button {
  font-size: 2rem;
  padding: 1rem 3rem;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  font-family: inherit;
}
